@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-slate-100 font-body;
  }
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080c14;
}

::-webkit-scrollbar-thumb {
  background: #1b2537;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
